<div class="container">
    <div class="row">
        <div class="col-11">
            <h10 style="background-color: #3CB371">マイページ（登録情報）</h10>
        </div>
            <div class="col-12">
                ユーザー情報の編集ができます。<br>目標体重もこちらから変更できます。
            </div>
                <div class="mx-auto col-11 col-sm-10 col-lg-8">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                              <th>氏名</th>
                              <th>メールアドレス</th>
                              <th>目標の体重</th>
                            </tr>
                        </thead>
                
                            <tbody>
                                    <tr>
                                        <td><%= current_customer.name %></td>
                                        <td><%= current_customer.email %></td>
                                        <td><%= current_customer.goal_weight %>kg</td>
                                    </tr>
                            </tbody>
                    </table>
                        <%= link_to " 編集", edit_customer_path(:id), class: "btn btn-secondary text-right ml-auto" %>
                </div>
      
    </div>
    
</div>