<div class="container">
    <div class="row">
        こんにちは！<br>
        SELF MANEGENT(セルマネ)をご覧頂きましてありがとうございます。<br>
        当アプリは、健康状態の管理、健康促進を目的としています。<br>
        体重を管理したい、食事を管理しないといけないなど、<br>
        健康に向けた内容になりますので是非ご活用ください！<br>
        新規登録、ログインは上記からしていただくようにお願いします。<br>
        また内容だけ知りたい！という方には、「ゲストログイン」も<br>
        利用ください（情報登録はできないのでご了承ください）。<br>
    </div>
</div>