<div class="container-top">
    <div class="row">
        こんにちは！<br>
        SELF MANEGENT(セルマネ)をご覧頂きましてありがとうございます。<br>
        新規登録、ログインは上記からしていただくようにお願いします。<br>
        また内容をまず知りたい！という方には、「ゲストログイン」も<br>
        利用ください（情報登録はできないのでご了承ください）。<br>
    </div>
</div>