/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 20px;
  background: #e1fee3;
}

.top-container {
  font-weight: bold;
  background: #3CB371;
  text-align: center;
}

.top h1 {
  font-size: 50px;
  font-family: 'Arial Black',sans-serif;
}
.top h2 {
  font-size: 20px;
  font-family: 'Arial Black',sans-serif;
}

.top span {
  color: #b8d200;
}


    

.navigation {
  background: #e1fee3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  
}


.nav links {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 2px;
  margin: 2px;
}

 .login span{
     background : linear-gradient(transparent 50%, #ffa64d 65%); 
 }
 
 .customer-goal-weight strong {
   background : linear-gradient(transparent 50%, #ffa64d 65%);
 }

.container-top {
   padding: 20px;
   margin:  auto;
   width:  700px;
   height: 80px;
}

.table thead th {
  background: #ffa64d;
  border: 1px solid #D3D3D3;
}

.table tbody tr td {
  background: #FCFAF2;
  border: 1px solid #D3D3D3;
}

.pagination {
  border: 1px solid #333;
  padding: 8px;
}

.pagination>li>a {
  color: black;
  margin: 10px;

}

.pagination>.active>a {     
  background: #86ed5a;
  border-radius: 20px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  list-style: none;
}

.pagination>li>a:hover { 
  background: #58b85e;
  border-radius: 50px;
}

