/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 20px;
  background: #e1fee3;
}

.top-container {
  font-weight: bold;
  background: #3CB371;
  text-align: center;
}

.top h1 {
  font-size: 50px;
  font-family: 'Arial Black',sans-serif;
}
.top h2 {
  font-size: 20px;
  font-family: 'Arial Black',sans-serif;
}

.top span {
  color: #b8d200;
}


    

.navigation {
  background: #e1fee3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  
}


.nav links {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 2px;
  margin: 2px;
}

 .login span{
     background : linear-gradient(transparent 50%, #ffa64d 65%); 
 }
 
 .customer-goal-weight strong {
   background : linear-gradient(transparent 50%, #ffa64d 65%);
 }
 
 .nav pagination {
   justify-content: center;
}

.container-top {
　　position: absolute;          /* 位置指定 */
   padding: 20px;               /* 余白指定 */
                   /* 位置指定 */
   margin:  auto;               /* 中央寄せ */
   width:  700px;               /* 幅指定 */
   height: 80px;                /* 高さ指定 */
}